<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css">
    {% block scripts %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <nav class = "navbar navbar-expand-lg navbar-light bg-primary rounded-bottom" id = "navbar">
      <div class = "navbar nav">
        <a class="navbar-brand" href = "#">
          <img src = "https://upload.wikimedia.org/wikipedia/en/6/63/MyFitnessPal_Logo.png" width = "30" height = "30" alt = "">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class = "navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class = "nav-item">
              <a class = "nav-link text-light" id = "home" href = "/">Home</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link text-light" id = "logout" href = "/logout">Logout</a> 
            </li>
            {% else %}
            <li class = "nav-item">
              <a class = "nav-item nav-link text-light" id = "login" href = "/login">Login</a> 
            </li>
            <li class = "nav-item">
              <a class = "nav-item nav-link text-light" id = "signUp" href = "/sign-up">Sign Up</a> 
            </li>
            <li class = "nav-item">
              <button class = "btn btn-light bg-light rounded ml-auto text-primary" type = "button">Start Today</button>
            </li>
            {% endif %}
          </ul>
        </div>   
      </div>
        
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == "error" %}
        <div class = "alert alert-danger alter-dismissable fade show" role = "alert">
          {{message}}
          <button type = "button" class = "close" data-dismiss="alert">
            <span aria-hidden = "true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class = "alert alert-success alter-dismissable fade show" role = "alert">
          {{message}}
          <button type = "button" class = "close" data-dismiss="alert">
            <span aria-hidden = "true">&times;</span>
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}    
    {% endwith %}
        {% block content %}
        <p>base.html's content</p>
        {% endblock %}
        <script 
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
          crossorigin="anonymous"
        ></script>
        <script 
          src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" 
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
          crossorigin="anonymous"
        ></script>
        <script 
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" 
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
          crossorigin="anonymous"
        ></script>
      <script
        type = "text/javascript"
        src = "{{ url_for('static',filename='index.js')}}"
      ></script>
</body>
</html>