{% extends "base.html" %}
{% block title %}getStarted{% endblock %}

{% block content %}
<div class = "container">
    <div class="row">
        <div class="col-sm-12 col-md-8 pt-5">
            <p>#1 nutrition tracking app</p>
            <h1><strong>Reach your goals</strong> with myFitnessPal</h1>
            <p>Build healthy habits with the all-in-one food, exercise, and calorie tracker</p>
            <button class = "btn btn-light bg-light rounded text-primary btn-outline-primary">Start Today</button>
        </div>
        <div class="col-sm-12 col-md-4 pt-5">
            col 2
            <img style = "background-color: transparent;"src="https://www.transparentpng.com/thumb/fitness/dMxtPl-fitness-clipart-photo.png">
        </div>
     </div>
</div>

{% endblock %}
        
   